doctype html
html
   head
      link(rel='stylesheet', type='text/css', href='style.css')
      title Users
   body
      .navigation 
         ul
            li <a href='/'> Home</a>
            li <a href='/search'>Search</a>
            li <a href='/addMe'>Add me </a>
   
      h1 USER 
      .database
         if file 
            table
               tr
                  th.header First name
                  th.header Last name
                  th.header Email
                  
               each user in file 
                  tr
                     th.index= user.firstname 
                     th.index= user.lastname
                     th.index= user.email
                     
         else 
            p No file read
      .footer
